name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimum
          components: rustfmt, clippy
          override: true

      - name: Check format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --check

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test

